extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")



block content
    main
        if editing
            form.product-form(action='/admin/edit-product', method="POST")
                input(type="hidden", name="_csrf" value=csurfToken)
                .form-control
                    input.form__input#title(type="text", name="title", placeholder=" ", value=product.title)
                    label.form__label(for="title") Title
                    .form-control
                        input.form__input#imageUrl(type="text", name="imageUrl", placeholder=" ", value=product.imageUrl)
                        label.form__label(for="imageUrl") Image Url
                    .form-control
                        input.form__input#price(type="number", name="price", step="0.01", placeholder=" ", value=product.price)
                        label.form__label(for="price") Price
                    .form-control
                        textarea.form__input#description(name="description", placeholder=" " rows="5") #{product.description} 
                        label.form__label(for="description") Description
                    if editing
                        input.form__input(type="hidden", name="productId"  placeholder=" ", value=product._id)
                        input(type="hidden", name="_csrf" value=csurfToken)
                        button.btn(type="submit") Update Product
                    else 
                        input(type="hidden", name="_csrf" value=csurfToken)
                        button.btn(type="submit") Add Product
        else
            form.product-form(action='/admin/add-product', method="POST")
                input(type="hidden", name="_csrf" value=csurfToken)
                .form-control
                    input.form__input#title(type="text", placeholder=" ", name="title")
                    label.form__label(for="title") Title
                .form-control
                    input.form__input#imageUrl(type="text", placeholder=" ", name="imageUrl")
                    label.form__label(for="imageUrl") Image Url
                .form-control
                    input.form__input#price(type="number", name="price", placeholder=" ", step="0.01")
                    label.form__label(for="price") Price
                .form-control
                    textarea.form__input#description(name="description", placeholder=" " rows="5") 
                    label.form__label(for="description") Description
                if editing
                    input.form__input(type="hidden", placeholder=" ", name="productId" value=product._id)
                    input(type="hidden", name="_csrf" value=csurfToken)
                    button.btn(type="submit") Update Product
                else 
                    button.btn(type="submit") Add Product
